main {
    background: transparent;
    margin: 70px auto;
    padding: 0;
}

h1 {
    text-transform: uppercase;
}

.authorization-form {
    background-color: #fff;
    border: 1px solid rgb(240, 240, 240);
    box-sizing: border-box;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 1);
    margin: auto;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.input {
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    height: 35px;
    letter-spacing: 2px;
    margin: auto auto 10px;
    max-width: 300px;
    outline: none;
    padding-left: 40px;
    width: 100%;
}

.input[type="text"]:invalid:focus, .input[type='email']:invalid:focus, .input[type='password']:invalid:focus {
    border: 1px solid #ff0000;
}

.input[type="text"]:invalid, .input[type='email']:invalid, .input[type='password']:invalid {
    color: #ff0000;
}

.input[type="text"]:valid, .input[type='email']:valid, .input[type='password']:valid {
    border: 1px solid #008000;
    color: #008000;
}

.invalid-input {
    color: #ff0000;
    display: none;
    font-size: 12px;
    padding: 5px;
}

.error_field {
    color: #ff0000;
}

.input.username {
    background: white url("../img/icon/cd-icon-username.svg") no-repeat 10px 50%;
}

.input.email {
    background: white url("../img/icon/cd-icon-email.svg") no-repeat 10px 50%;
}

.input.password {
    background: white url("../img/icon/cd-icon-password.svg") no-repeat 10px 50%;
}

span.required {
    position: relative;
}
span.required:before{
    color: #f00;
    content: "*";
    left: 95%;
    position: absolute;
    top: 1px;
}