main {
    text-align: center;
}

img {
    max-width: 400px;
}

p {
    text-align: center;
}

.error-image {
    width: 100%;
}

.button {
    background: transparent;
    border: 2px solid #ffc000;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    max-width: 320px;
}

.button:hover {
    color: #ffc000;
}

.button:active {
    background: #fff8e5;
}

#error-block {
    display: none;
    text-align: left;
}

#error-block p {
    text-align: left;
}

.error-404 {
    font-size: 80px;
}

.link {
    color: #ffc000;
    font-family: Gotham-light, sans-serif;
    font-size: 18px;
}