footer {
    background-color: #151515;
    box-sizing: border-box;
    color: #a8a8ab;
    font-family: Helvetica, sans-serif;
    margin: auto auto 20px;
    max-width: 900px;
    padding: 20px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h5 {
    margin: 0;
}

hr {
    border: 1px solid #222222;
}

.follow ul {
    display: flex;
    flex-wrap: wrap;
}

.follow li {
    margin: auto;
}

.follow img {
    height: 44px;
}

.about {
    display: flex;
    flex-wrap: wrap;
}

.adult-only img {
    height: 80px;
}

.about-us {
    margin: auto;
    max-width: 500px;
}

.payment-language {
    display: flex;
    flex-wrap: wrap;
}

.payment {
    margin: auto;
}

.payment ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
}

.payment li {
    margin-left: 15px;
}

.payment-language img {
    border-radius: 3px;
    height: 24px;
}

.language {
    float: right;
}

.copyright p {
    font-size: 10px;
    margin-bottom: 0;
    text-align: center;
}