main {
    background: #008000 url(../img/game/playground.jpg);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin: 0;
    padding: 10px;
}

h3 {
    margin: 0;
    text-align: center;
}

.user-area, .opponent-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.opponent-area {
    min-height: 165px;
}

.user-hand ul, .opponent-hand ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-hand img {
    max-width: 130px;
}

.opponent-hand img {
    max-width: 110px;
}

/*
* ************************
* === INFORMATION AREA ===
* ************************
*/
.information-area {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.deck img {
    max-width: 120px;
}

.deck-one {

}

.deck-two {
    margin-left: -110px;
}

.deck-three {
    margin-left: -110px;
}

.result {
    color: #ffffff;
    display: none;
    font-family: Bignoodletoo, sans-serif;
    font-size: 70px;
    letter-spacing: 10px;
}

.status {
    display: none;
}

#bet-box {
    display: none;
}

/*
* *****************
* === USER AREA ===
* *****************
*/

.four {
    margin-left: -40px;
}

.five {
    margin-left: -70px;
}

.user-area {
    min-height: 190px;
}

.user-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.opponent-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*
* === BET GROUP ===
*/

#place-bet-box {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
}

.bet-group {
    display: flex;
    justify-content: center;
}

.input-bet {
    background: #ffffff;
    border: 1px solid #ccc;
    font-size: 20px;
    height: 40px;
    width: 60px;
}

.button-bet {
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    outline: none;
    width: 40px;
}

#bet-minus {
    background: #d9534f;
    border: 1px solid #d43f3a;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

#bet-minus:disabled {
    background: #E07572;
    border: 1px solid #dc6561;
    color: #b2b2b2;
}

#bet-plus {
    background: #5cb85c;
    border: 1px solid #4cae4c;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

#bet-plus:disabled {
    background: #7cc67c;
    border: 1px solid #6fbe6f;
    color: #b2b2b2;
}

#control-box {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
}

#new-game-box {
    display: none;
    flex-direction: column;
    justify-content: space-between;
}