body {
    background: #363636 url(../img/21casinobg.jpg) no-repeat fixed;
    margin: 0;
}

header {
    background-color: #232324;
    box-shadow: 0 10px 44px 0 rgba(0, 0, 0, 1);
    font-family: Helvetica, sans-serif;
    min-width: 200px;
}

header a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding: 0;
}

.header-content {
    margin: auto;
    max-width: 900px;
    width: 100%;
}

.logo-login {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    height: 150px;
    margin: auto;
    padding: 10px;
    width: 150px;
}

.casino-logo {
    display: block;
    height: 100%;
    margin: auto;
    position: relative;
}

.authorization-box {
    margin: auto;
}

.login-ul li {
    margin-top: 20px;
}

.authorization-box a {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 3px;
    display: block;
    font-size: 15px;
    padding: 10px 0;
    width: 160px;
}

.authorization-box a:hover, .dropdown-content a:hover, .user-box a:hover {
    color: #ffc000;
}

.navigation {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.nav-link, .dropdown {
    margin: auto;
}

.navigation a {
    display: block;
    font-size: 22px;
    padding: 15px 0;
    width: 200px;
}

.nav-link a:hover {
    box-shadow: 0 10px 13px -10px #ffc000;
    color: #ffc000;
}

.not-link {
    cursor: default;
}

.dropdown-content, .dropdown-login {
    background-color: #232324;
    border-radius: 0 0 3px 3px;
    box-shadow: 4px 4px 5px rgba(30, 30, 30, 1), -4px 4px 5px rgba(30, 30, 30, 1);
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user-box:hover .dropdown-login {
    display: block;
}

.img-small {
    height: 60px;
    margin: auto auto 5px;
    overflow: hidden;
    width: 60px;
}

.img-small img {
    width: 60px;
}

.user-box {
    margin: auto;
}

.user-box a {
    display: block;
    font-size: 15px;
    padding: 10px 0;
    width: 160px;
}

.user-box:hover a {
    background-color: rgba(255, 255, 255, 0.15);
}