main {
    background-color: #fff;
    box-sizing: border-box;
    font-family: GothamProLight, sans-serif;
    margin: auto;
    max-width: 900px;
    padding: 20px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p {
    text-align: justify;
}

/*
****************
* === Button ===
****************
*/

.button {
    cursor: pointer;
    font-family: GothamProRegular, sans-serif;
    outline: none;
    text-align: center;
}

/*
* === Small Button ===
*/

.button.small {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    padding: 8px 16px;
    vertical-align: middle;
}

.button.small:hover {
    background-color: #ddd;
}

.button.small:active {
    color: #ffc000;
}

/*
* === Dark Button ===
*/

.button.dark {
    background-color: #444445;
    border: none;
    border-radius: 5px;
    color: #ffc000;
    font-size: 18px;
    height: 35px;
    letter-spacing: 2px;
    max-width: 300px;
    text-transform: uppercase;
    width: 100%;
}

.button.dark:hover {
    background-color: #555556;
}

.button.dark:active {
    box-shadow: inset 0 0 40px 0 rgba(0, 0, 0, 0.4);
}

/*
*****************
* === Message ===
*****************
*/

.message, .error-message {
    padding: 7px;
    margin: 0;
    text-align: center;
}

.message:empty, .error-message:empty {
    padding: 0;
}

.error-message {
    background: #ff817b;
}

.message {
    background: #7BFF81;
}

/*
***************
* === Fonts ===
***************
*/

/* font-family: "GothamProRegular"; */
@font-face {
    font-family: GothamProRegular;
    font-style: normal;
    font-weight: normal;
    src: url(../font/GothamProRegular/GothamProRegular.eot);
    src: url(../font/GothamProRegular/GothamProRegular.eot?#iefix) format("embedded-opentype"),
    url(../font/GothamProRegular/GothamProRegular.woff) format("woff"),
    url(../font/GothamProRegular/GothamProRegular.ttf) format("truetype");
}

/* font-family: "GothamProLight"; */
@font-face {
    font-family: GothamProLight;
    font-style: normal;
    font-weight: normal;
    src: url(../font/GothamProLight/GothamProLight.eot);
    src: url(../font/GothamProLight/GothamProLight.eot?#iefix) format("embedded-opentype"),
    url(../font/GothamProLight/GothamProLight.woff) format("woff"),
    url(../font/GothamProLight/GothamProLight.ttf) format("truetype");
}

/* font-family: "Bignoodletoo"; */
@font-face {
    font-family: Bignoodletoo;
    font-style: normal;
    font-weight: normal;
    src: url(../font/Bignoodletoo/BIGNOODLETOO.TTF);
}