/*
* ****************
* === ADD NEWS ===
* ****************
*/

.add-news {
    text-align: center;
}

.button {
    margin-top: 10px;
}

#new-news {
    display: none;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    width: 100%;
}

.headline {
    border: 1px solid #A9A9A9;
}

.headline, .body {
    border-radius: 8px;
    margin-top: 10px;
    padding: 4px 8px;
}

.divider {
    border: 1px solid #A9A9A9;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*
* ******************
* === NEWS BLOCK ===
* ******************
*/

h2 {
    font-family: GothamProRegular, sans-serif;
}

.nav span {
    display: inline-block;
    font-size: 20px;
    padding: 8px 16px;
}

#new-message {
    display: none;
}

.hide {
    display: flex;
    justify-content: flex-end;
}

.remove-button {
    background: none;
    border: none;
    color: #696969;
    cursor: pointer;
    font-family: GothamProRegular, sans-serif;
    text-decoration: underline;
}

.remove-button:hover {
    color: #ffc000;
}

.news-list li {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto auto 20px;
    max-width: 600px;
    padding: 15px;
    width: 100%;
}

.news-list li h2 {
    color: #3f3f3f;
}

.news-info {
    display: flex;
    justify-content: space-between;
}

.author {
    color: #696969;
    font-style: italic;
}

.datetime {
    color: #696969;
}

/*
* ******************
* === NAVIGATION ===
* ******************
*/

.nav-box {
    display: flex;
    justify-content: flex-end;
}

.nav {
    border: 1px solid #ddd;
    border-radius: 8px;
    display: inline-block;
}

.nav a {
    background-color: #f1f1f1;
    display: inline-block;
    font-size: 20px;
    padding: 8px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ddd;
}

.nav a:active {
    color: #ffc000;
}

.disabled-link {
    color: #fff;
    cursor: default;
    pointer-events: none;
}

#previous {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

#next {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}