h1 {
    margin-left: 10px;
}

h4 {
    margin: 10px;
}

.panel-flex-between {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panel-flex-end {
    display: flex;
    justify-content: flex-end;
}

.admin-control {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.search-bar input {
    background: white url("../img/icon/searchicon.png") no-repeat 10px 10px;
    box-sizing: border-box;
    border: 1px solid #a8a8ab;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    width: 100%;
    -webkit-transition: width 0.4s ease-in-out;
}

@media only screen and (min-width: 550px) {
    .panel-flex-between {
        flex-direction: row;
    }

    .admin-control {
        justify-content: flex-start;
        width: auto;
    }

    .search-bar {
        width: auto;
    }

    .search-bar input {
        width: 180px;
    }

    .search-bar input:focus {
        max-width: 300px;
        outline: none;
        width: 100%;
    }
}

.text-center {
    text-align: center;
}

.user-card {
    background: #f8f8f8;
    border: 1px solid #a8a8ab;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    max-width: 600px;
    padding: 15px;
}

.user-avatar {
    background-color: #ffffff;
    border: 1px solid #a8a8ab;
    max-height: 200px;
    padding: 10px;
}

.img-medium {
    height: 100%;
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
    width: 100%;
}

.img-medium img {
    max-width: 200px;
    width: 100%;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
}

.head {
    display: flex;
    justify-content: space-between;
}

.text-red {
    color: #ff0000;
}

.statistics {
    display: flex;
    justify-content: space-around;
}

.statistics div {
    margin: 10px;
}

.statistics hr {
    border: 1px solid #a8a8ab;
}

.counter {
    display: block;
    font-family: GothamProLight, sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}