caption {
    padding: 5px;
    font-size: 20px;
}

.top-table {
    width: 100%;
    overflow: auto;
    border-radius: 3px;
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

th {
    color: #FFFFFF;
    background: #232324;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 18px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #434343;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

@media screen and (min-width: 800px) {
    tr:hover td {
        background: #a8a8ab;
        color: #FFFFFF;
    }

    tr:nth-child(odd):hover td {
        background: #a8a8ab;
    }
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0;
}

@media screen and (max-width: 800px) {
    thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    tr:first-child td:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    tr:last-child td:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    tr:last-child {
        margin-bottom: 0;
    }

    td {
        border: none;
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }

    td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    td:hover {
        background: #a8a8ab;
        color: #FFFFFF;
    }

    tr:nth-child(odd) td:hover {
        background: #a8a8ab;
    }
}