.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}

.loader {
    box-shadow: inset 0 0 0 1em;
    color: #ffc000;
    font-size: 11px;
    height: 7em;
    margin: auto;
    position: relative;
    text-indent: -99999em;
    transform: translateZ(0);
    width: 7em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
}

.loader:before {
    animation: load2 2s infinite ease 1.5s;
    background: #ffffff;
    border-radius: 7.2em 0 0 7.2em;
    height: 7.2em;
    left: -0.1em;
    top: -0.1em;
    transform-origin: 3.7em 3.6em;
    width: 3.7em;
    -webkit-transform-origin: 3.7em 3.6em;
    -webkit-animation: load2 2s infinite ease 1.5s;
}

.loader:after {
    animation: load2 2s infinite ease;
    background: #ffffff;
    border-radius: 0 10.2em 10.2em 0;
    height: 7.2em;
    left: 3.6em;
    top: -0.1em;
    transform-origin: 0 3.6em;
    width: 3.7em;
    -webkit-transform-origin: 0 3.6em;
    -webkit-animation: load2 2s infinite ease;
}

@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}