.img-large {
    height: 100%;
    margin-bottom: 10px;
    max-height: 300px;
    max-width: 300px;
    overflow: hidden;
    width: 100%;
}

.img-large img {
    max-width: 300px;
    width: 100%;
}

.input {
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    font-family: GothamProLight, sans-serif;
    font-size: 18px;
    height: 35px;
    letter-spacing: 2px;
    margin: auto auto 10px;
    max-width: 300px;
    outline-color: #ffc000;
    padding-left: 10px;
    width: 100%;
}

.change-name, .change-email, .change-password {
    display: none;
}