main {
    background: #436643 url(../img/game/bg.jpg);
    padding: 150px 0;
}

.start-game {
    background-color: #fff;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 1);
    box-sizing: border-box;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

#progress-search {
    display: none;
}

.link {
    color: #ffc000;
    font-family: GothamProLight, sans-serif;
    font-size: 18px;
}