/**
 * This work is licensed under the Creative Commons
 * Attribution 3.0 Unported License. To view a copy
 * of this license, visit http://creativecommons.org/licenses/by/3.0/.
 *
 * Author: Girish Sharma <scrapmachines@gmail.com>
 */

/* Demo specific styles begin */

#wait-bar {
    display: none;
}

.loader-fb {
    left: -30px;
}

/* Demo specific styles end */

/* Loader with three blocks */

.loader-fb, .loader-fb:before, .loader-fb:after {
    background-color: rgba(215, 230, 240, 0.9);
    border: 1px solid rgb(215, 230, 240);
    content: ' ';
    display: inline-block;
    height: 50px;
    margin-left: -5px;
    margin-right: -9px;
    position: relative;
    width: 20px;
    z-index: 100000;
}

.loader-fb:before {
    animation: loading-fb .8s cubic-bezier(.4, .5, .6, 1) infinite;
    left: -100%;
    top: -11px;
}

.loader-fb {
    animation: loading-fb-main .8s cubic-bezier(.4, .5, .6, 1) .2s infinite;
}

.loader-fb:after {
    animation: loading-fb .8s cubic-bezier(.4, .5, .6, 1) .4s infinite;
    margin-top: 50%;
    right: -100%;
    top: -11px;
}

@keyframes loading-fb {
    from {
        background-color: rgba(55, 114, 171, 0.9);
        border: 1px solid rgb(55, 114, 171);
        transform: scaleY(1.4);
    }
}

@keyframes loading-fb-main {
    from {
        background-color: rgba(55, 114, 171, 0.9);
        border: 1px solid rgb(55, 114, 171);
        margin-top: -10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}