<?xml version="1.0" encoding="ISO-8859-1"?>

<taglib xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">

    <tlib-version>1.0</tlib-version>
    <short-name>format</short-name>
    <uri>/WEB-INF/tld/format</uri>

    <tag>
        <name>message</name>
        <tag-class>com.agarkov.casino.tag.MessageTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>messageKey</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
</taglib>
